.site-footer{
  background-color:hsl(var(--grey-midnight));
  color:hsl(var(--white));
  font-family:"AkkoForPenny", "Akko-Fallback-Arial", "Akko-Fallback-Roboto", system-ui, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-y:auto;
  padding-top:2.5rem;
}
.site-footer.icons-edit .site-footer__link-list,.site-footer.icons-edit .site-footer__link-list--wrap{
  margin-bottom:0 !important;
}
.site-footer.icons-edit .site-footer__link-list--wrap>li,.site-footer.icons-edit .site-footer__link-list>li{
  line-height:100% !important;
}
.site-footer.icons-edit .site-footer__link-list--wrap>li a,.site-footer.icons-edit .site-footer__link-list>li a{
  display:inline-block;
}
.site-footer.icons-edit .site-footer__site-links .l-row--center{
  margin-bottom:0;
}
.site-footer__inner{
  margin-bottom:4.125rem;
}
@media (min-width:960px){
  .site-footer__inner{
    margin-bottom:0;
  }
}
.site-footer a{
  color:inherit;
  font:normal 1rem/1.25 "AkkoForPenny", "Akko-Fallback-Arial", "Akko-Fallback-Roboto", system-ui, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration:none;
}
.site-footer__section{
  padding-bottom:1.5rem;
}
@media (min-width:960px){
  .site-footer__section{
    padding-bottom:2rem;
  }
}
.site-footer__link-list,.site-footer__link-list--wrap{
  list-style:none;
  margin-bottom:0;
  margin-top:0;
  padding-left:0;
}
.site-footer__link-list--wrap>li,.site-footer__link-list>li{
  line-height:0;
  margin:1rem 0;
}
.site-footer__link-list--wrap{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-left:calc(1rem / -2);
  margin-right:calc(1rem / -2);
}
.site-footer__link-list--wrap>li{
  margin:calc(1rem / 2);
}
.site-footer__site-links .l-row{
  display:flex;
  justify-content:space-between;
  margin-bottom:0;
  margin-top:0;
  max-width:1320px;
}
.site-footer__group{
  padding-top:.25rem;
}
@media (min-width:768px){
  .site-footer__group{
    border-bottom:0;
    padding-top:0;
  }
  .site-footer__group .links{
    padding-left:0;
  }
}
.site-footer__group:after{
  border-bottom:2px solid;
  border-radius:.046875rem;
  content:"";
  display:block;
  padding-top:inherit;
}
@media (min-width:768px){
  .site-footer__group:after{
    display:none;
  }
}
.site-footer__group .links{
  padding-left:.5rem;
}
.site-footer__group .links>li{
  margin:1rem 0;
}
.site-footer__group:last-of-type{
  padding-bottom:.875rem;
}
.site-footer .collapsible__control{
  background-color:transparent;
  border:0;
  color:inherit;
  font-size:1.25rem;
  outline:none;
  padding:.6em;
}
@media (min-width:768px){
  .site-footer .collapsible__control{
    display:none;
  }
}
.site-footer .collapsible__control:before{
  bottom:0;
  content:"";
  left:0;
  position:absolute;
  right:0;
  top:0;
}
.site-footer .collapsible__control .button-icon{
  display:block;
  height:1em;
  position:relative;
  width:1em;
}
.site-footer .collapsible__control .button-icon:after,.site-footer .collapsible__control .button-icon:before{
  background-color:currentColor;
  border-radius:.3rem;
  content:"";
  left:50%;
  position:absolute;
  top:50%;
  transform:rotate(-90deg);
  transition:all .5s ease-in-out;
}
.site-footer .collapsible__control .button-icon:before{
  height:.1875rem;
  margin-left:-.45em;
  margin-top:calc(.1875rem / -2);
  opacity:1;
  width:1em;
}
.site-footer .collapsible__control .button-icon:after{
  height:1em;
  margin-left:calc(.1875rem / -2);
  margin-top:-.5em;
  width:.1875rem;
}
.site-footer .collapsible__control[aria-expanded=true] .button-icon{
  opacity:1;
}
.site-footer .collapsible__control[aria-expanded=true] .button-icon:after,.site-footer .collapsible__control[aria-expanded=true] .button-icon:before{
  transform:rotate(90deg);
  transition:all .5s ease-in-out;
}
.site-footer .collapsible__control[aria-expanded=true] .button-icon:before{
  opacity:0;
}
@media (min-width:768px){
  .site-footer .collapsible__content{
    display:block;
  }
}
.site-footer__headline{
  align-items:center;
  color:hsl(var(--white));
  display:flex;
  font:500 1.25rem/2.0625 "AkkoForPenny", "Akko-Fallback-Arial", "Akko-Fallback-Roboto", system-ui, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content:space-between;
  letter-spacing:.006875rem;
  margin:0;
  outline:0;
  position:relative;
  text-transform:none;
}
.site-footer__contact{
  padding-bottom:0;
  padding-top:1.5rem;
}
@media (min-width:768px){
  .site-footer__contact{
    padding-top:1rem;
  }
}
@media (min-width:960px){
  .site-footer__contact{
    padding-bottom:2.5rem;
    padding-top:0;
  }
}
.site-footer__contact a .icon{
  margin-right:.5rem;
}
.site-footer__app-item:not(:last-child){
  padding-bottom:2rem;
}
@media (min-width:768px){
  .site-footer__app-item:not(:last-child){
    padding-bottom:.5rem;
  }
}
@media (min-width:960px){
  .site-footer__app-item:not(:last-child){
    padding-bottom:1.5rem;
  }
}
.site-footer__points{
  padding-bottom:0;
  padding-top:2.5rem;
}
@media (min-width:960px){
  .site-footer__points{
    padding-bottom:0;
    padding-top:0;
  }
}
.site-footer__external-logo{
  height:2.5rem;
  -o-object-fit:contain;
     object-fit:contain;
  width:auto;
}
@media (min-width:768px){
  .site-footer__info-links .site-footer__link-list,.site-footer__info-links .site-footer__link-list--wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 1.25rem;
  }
  .site-footer__info-links .site-footer__link-list--wrap>li,.site-footer__info-links .site-footer__link-list>li{
    margin-bottom:0;
    margin-left:1.25rem;
    margin-right:1.25rem;
  }
}
.site-footer__social-links{
  color:hsl(var(--red));
  margin-bottom:-.5rem;
  margin-top:-.5rem;
}
@media (min-width:768px){
  .site-footer__social-links{
    margin-bottom:-1rem;
    margin-top:.5rem;
  }
}
.site-footer__social-links a{
  background:hsl(var(--white));
  border-radius:50%;
  display:flex;
  padding:.75em;
}
.site-footer__social-links .site-footer__link-list,.site-footer__social-links .site-footer__link-list--wrap{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.site-footer__social-links .site-footer__link-list--wrap>li,.site-footer__social-links .site-footer__link-list>li{
  margin-left:1rem;
  margin-right:1rem;
}
.site-footer__logo{
  background-color:hsl(var(--red));
  margin-top:2.5rem;
  padding:2.5rem 0 calc(3.4375rem);
  text-align:center;
}
@media (min-width:960px){
  .site-footer__logo{
    padding-bottom:2.5rem;
  }
}
.site-footer__logo .logo{
  height:1.125rem;
  max-width:6.25rem;
  width:auto;
}
/*# sourceMappingURL=site-footer-9b788ebbd3.css.map */
